body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D2F3D1 ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display:flex;
  justify-content:flex-start;
  padding: 5px;
  background-color: #036A00;
  align-items:flex-start;
  color: white;
}

.logo {
  margin-left: 20px;
  margin-right: 20px;
}

.categories {
  display: flex;
  flex-direction: column;
  float: left;
}